<footer class="footer">
  <div class="footer__content container">

    <div class="row">
      <div class="col">
        <ul class="footer__nav nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Descarga tu poliza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../../assets/pdf/pdf_testing.pdf" download="prueba">Términos y condiciones</a>
          </li>

        </ul>
      </div>
      <div class="col taR">
        <div class="footer__socials">
          <div class="footer__socials__caption">
            Síguenos en nuestras redes sociales
          </div>
          <div class="footer__socials__icons">

            <a href="https://www.facebook.com" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer__bottom">
    <span>Copyright {{currentYear}}</span>
  </div>
</footer>
