<header class="header ">
  <nav class="navbar navbar-expand-lg ">
    <!-- HAMBURGUER BUTTON  -->
    <button (click)="menuIsActive = !menuIsActive" class="navbar-toggler" data-toggle="collapse"
      data-target="#customNav" aria-controls="customNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="hamburgerBtn" [class.active]="menuIsActive">
        <span class="hamburgerBtn__line"></span>
        <span class="hamburgerBtn__line"></span>
        <span class="hamburgerBtn__line"></span>
      </span>
    </button>
    <!-- END HAMBURGUER BUTTON  -->
    <div class="header__logo">
      <a routerLink="/" class="dB">
        <img src="../../../assets/img/logo/logo_brand.svg" alt="" class="img__contain">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="customNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" >Acerca de nosotros </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Descarga tu póliza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../../assets/pdf/pdf_testing.pdf" download="prueba">Términos y condiciones</a>
        </li>

      </ul>
    </div>

  </nav>
  <!-- sub menu nav  -->
  <ul class="header__submenu nav justify-content-start">
    <li class="nav-item">
      <a class="nav-link" href="#">Misión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Visión</a>
    </li>

  </ul>
  <!-- end sub menu nav  -->
</header>
