label.btn {
	input {
		display: none !important;
	}
}

.btn {
	@include flex(center,center,nowrap,inline-flex);
	vertical-align: middle;
	border: 1px solid transparent;
	outline: none;
	text-align: center;
	cursor: pointer;
  @include transition;
  font-weight: 600;
  &--submit{
    background: var(--lime-brand);
    font-size: toRem(18);
    border-radius: 3px;
    color: $white;
    box-shadow: 0 3px 1px rgba($black, .3);
  }

}
